.WeatherForecast-day{
    color: #fff;
    margin-top: 120px;
}
.WeatherForecast-temperature{
   line-height: 0px;
}
.WeatherTemperature-max{
    color: #fff;
}
.WeatherTemperature-min{
    opacity: 0.6;
 color: #fff;
}

.WeatherForecast .WeatherForecast-icon{
    transform: scale(0.6);
    margin-left: -50px;

}
